body{
    width: 60%;
    margin: auto;
    background-color: gray;
    font-size: 20px;
    
}
fieldset{
    border-radius: 5px;
    border: 3px solid black;

}
#string{
    width: 50%;
    height: 25px;
    border-radius: 5px;
    font-size: 20px;
}
#submit-btn{
    font-size: 20px;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
}
